/* Styles go here */

body {
    font-family: 'Ubuntu', sans-serif;
    color: orangered;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

md-sidenav {
    overflow: visible;
}

md-tabs-content-wrapper {
    margin-top: 10px;
}

#fichaje {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.scrollable-nav-content {
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}

.top-clear {
    top: 0 !important;
}

.bottom-space {
    bottom: 58px;
}

.sticky-footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

.toolbar-densed {
    min-height: 48px !important;
}

.auto-content {
    height: 90%;
    min-height: 90%;
    position: absolute;
}

.speed-transition {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.fill-height {
    display: flex;
    flex: 1;
    min-height: 100%;
}

.fill-height>div {
    min-height: 100%;
    display: flex;
}

.side-menu,
.side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.side-menu .md-button.active {
    color: deeppink;
}

.side-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
}

.side-menu>li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
    background-size: 100% auto;
    display: inline-block;
    margin: auto 0 auto auto;
    width: 15px;
    color: darkgray;
    transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
    max-height: 0;
}

.side-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu-toggle-list {
    background: #fff;
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}

.side-menu menu-toggle span {
    padding-top: 12px;
    padding-bottom: 12px;
}