<md-tabs md-border-bottom md-swipe-content="true" md-stretch-tabs="always" layout-fill>
    <md-tab>
        <md-tab-label>
            Fichaje
        </md-tab-label>
        <md-tab-body>
            <div layout-padding ng-show="fichas.listFichas.length > 0">
                <md-autocomplete md-search-text="fichas.searchText" md-items="item in fichas.listFichas | filter:fichasvm.searchText" md-item-text="item.who" md-min-length="3" placeholder="Buscar">
                    <md-item-template>
                        <span md-highlight-text="fichas.searchText" md-highlight-flags="^i">{{item.who}}</span>
                    </md-item-template>
                    <md-not-found>
                        No hay concidencias con "{{fichas.searchText}}".
                    </md-not-found>
                </md-autocomplete>
            </div>
            <md-content class="scrollable-nav-content" ng-class="{'top-clear' : fichas.listFichas.length === 0}">
                <h4 class="text-center" ng-hide="fichas.listFichas.length > 0">No hay Informacion</h4>
                <md-list class="md-dense">
                    <md-list-item class="md-2-line" ng-repeat="item in fichas.listFichas | filter:fichas.searchText ">
                        <div class="md-list-item-text">
                            <h3>{{ item.medidor }}</h3>
                            <h4>{{ item.tipoDes }}</h4>
                        </div>
                        <md-menu class="md-secondary">
                            <md-button class="md-icon-button">
                                <md-icon class="material-icons">messages</md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button>
                                        Redial
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>
                                        Check voicemail
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="main.viewDetail($event, item.cliente, item.direccion)">
                                        Ver informaci&oacute;n
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            Ruteo
        </md-tab-label>
        <md-tab-body>
            <md-content class="scrollable-nav-content top-clear">
                <h4 class="text-center" ng-hide="fichas.listRuteo.length > 0">No hay Informacion</h4>
                <md-list class="md-dense">
                    <md-list-item class="md-2-line" ng-repeat="item in fichas.listRuteo">
                        <div class="md-list-item-text">
                            <h3>{{ item.medidor }}</h3>
                            <h4>{{ item.tipoDes }}</h4>
                        </div>
                        <md-menu class="md-secondary">
                            <md-button class="md-icon-button">
                                <md-icon class="material-icons">messages</md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button>
                                        Redial
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>
                                        Check voicemail
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="main.viewDetail($event, item.cliente, item.direccion)">
                                        Ver informaci&oacute;n
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-button class="md-fab md-fab-bottom-right" ng-click="fichas.goFichaje()">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-tab-body>
    </md-tab>
</md-tabs>