<div class="scrollable-nav-content top-clear bottom-space {{ficha.flow.currentAnimate}}">
    <div layout-padding>
        <md-toolbar class="md-hue-2 toolbar-densed" layout="row" layout-align="center center">
            <span class="md-subhead">Información de Asignación de Trabajo</span>
        </md-toolbar>
        <md-content class="md-whiteframe-1dp">
            <form name="step1.formFicha">
                <md-input-container class="md-block">
                    <label>Motivo de Trabajo</label>
                    <input name="motivoLectura" ng-model="ficha.motivoLectura">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Observaciones</label>
                    <input name="observaciones" ng-model="ficha.observaciones">
                </md-input-container>
            </form>
        </md-content>
    </div>
</div>