<div layout-padding class="scrollable-nav-content top-clear bottom-space speed-transition {{ficha.flow.currentAnimate}}">
    <div layout-padding>
        <md-toolbar class="md-hue-2 toolbar-densed" layout="row" layout-align="center center">
            <span class="md-subhead">Datos del Medidor</span>
        </md-toolbar>
        <md-content class="md-whiteframe-1dp" md-theme="readonly-theme">
            <form name="step2.formFicha">
                <md-input-container class="md-block">
                    <label class="md-no-float">Nombre</label>
                    <input name="nombre" ng-model="ficha.model.nombre" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="md-no-float">Direcci&oacute;n</label>
                    <input name="direccion" ng-model="ficha.model.direccion" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="md-no-float">Medidor</label>
                    <input name="medidor" ng-model="ficha.model.medidor" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="md-no-float">Cuentas Alcantarillado</label>
                    <input name="ctasAlcantarillado" ng-model="ficha.model.ctasAlcantarillado" readonly>
                </md-input-container>
            </form>
        </md-content>
    </div>
</div>