<div class="scrollable-nav-content top-clear bottom-space {{ficha.flow.currentAnimate}}">
    <div layout-padding>
        <md-toolbar class="md-hue-2 toolbar-densed" layout="row" layout-align="center center">
            <span class="md-subhead">Información de Asignación de Trabajo</span>
        </md-toolbar>
        <md-content class="md-whiteframe-1dp" md-theme="readonly-theme">
            <form name="step1.formFicha">
                <md-input-container class="md-block">
                    <label class="md-no-float">Motivo de Trabajo</label>
                    <input name="motivoLectura" ng-model="ficha.model.motivoLectura" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="md-no-float">Observaciones</label>
                    <textarea name="observacionesLectura" ng-model="ficha.model.observacionesLectura" rows="3" readonly></textarea>
                </md-input-container>
            </form>
        </md-content>
        <div id="content-denuncia" ng-show="ficha.model.idDenuncia">
            <md-divider md-inset></md-divider>
            <md-toolbar class="md-hue-2 toolbar-densed" layout="row" layout-align="center center">
                <span class="md-subhead">Denuncia</span>
            </md-toolbar>
            <md-content class="md-whiteframe-1dp" md-theme="readonly-theme">
                <form name="step1.formFicha2">
                    <md-input-container class='md-block'>
                        <label class="md-no-float">Medidor</label>
                        <input name='medDenuncia' ng-model='ficha.model.medDenuncia' readonly>
                    </md-input-container>
                    <md-input-container class='md-block'>
                        <label class="md-no-float">Direcci&oacute;n</label>
                        <input name='direDenuncia' ng-model='ficha.model.direDenuncia' readonly>
                    </md-input-container>
                    <md-input-container class='md-block'>
                        <label class="md-no-float">Zona</label>
                        <input name='zonaDenuncia' ng-model='ficha.model.zonaDenuncia' readonly>
                    </md-input-container>
                    <md-input-container class='md-block'>
                        <label class="md-no-float">Observaciones</label>
                        <textarea name='observacionesDenuncia' ng-model='ficha.model.observacionesDenuncia' rows="3" readonly></textarea>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </div>
</div>